{% extends "main_in.html" %}

{% block content %}

<h1 class="text-center mb-4">Atualizar Tarefa {{ task.id }}</h1>

<div class="row justify-content-center">
    <div class="col-md-8">
        <form action="{% url 'Task Update' pk=primary_key %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card shadow">
                <div class="card-body">
                    {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.name == 'description' %}
                            <textarea class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" rows="3">{{ field.value|default_if_none:'' }}</textarea>
                        {% elif field.name == 'completed' %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="{{ field.id_for_label }}" name="{{ field.name }}" {% if field.value %}checked{% endif %}>
                                <label class="form-check-label" for="{{ field.id_for_label }}">
                                    Concluída
                                </label>
                            </div>
                        {% else %}
                            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer text-right">
                    <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}